/* 
    Document   : webshop 2015
    Created on : Apr 27, 2014, 12:22:01 AM
    Author     : Richard van den Ham, Pieter van den Hombergh
*/
body {font: normal 12px/1.5em helvetica, arial, sans-serif}
p {text-align:right}

.errortext {
    color: #800;
    font-weight: bold;
}
body{
    padding:0px;
    margin-top:10px;
    background-image: url(../images/filled-cart.png);
    background-repeat: no-repeat;
    background-color:#DDD;
}

#container {
    width:980px;
    margin:auto;
}

#header {
    /* text-align:center; */
    background: #330033;
    text-align: center;
    color:#fff;
    height:50px; 
    width:100%; 
    padding:15px;
    font-size:20px;
    /*    border: solid yellow 1px;*/
    border-top-left-radius: 15px;
    border-top-right-radius:  15px;
    /* display: inline; */
    background:linear-gradient(#CCC,#666);
    /*background-repeat: no-repeat;*/


}

#content {
    float:left;
    width:580px;
    text-align:center;
}

#shop{
    float: left;
    /*    height:600px;*/
    width:580px;
}

.invoice{
    text-align: left;
    font-family: monospace;

}

#sidebar {
    float: right;
    width: 360px;
    text-align: center;
    /*margin-bottom: 10px;*/
    background: white;
    padding: 13px;
    overflow-style: panner;
    margin: 2em 0 2em 0;
    transform: rotate(1.4deg);
}

#sidebar:before, #sidebar:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#sidebar:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}
#sidebar:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
    box-shadow:rgba(66,66,66,0.5) 0px 15px 10px;

}
#footer {
    clear:both;
    text-align:center;
    color:#444;
    height:450px;
    width:100%; 

    padding:15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:  15px;

}

.textLeft{
    text-align: left;
}
.texRight{
    text-align: right;
}

.backgroundWhite{
    background: #ffffff;
}

.fieldsetText{
    font-weight: bold;
}

table{
    width: 100%;
    border-width: 1px;
    border-collapse: collapse;
}
table{text-align: center;}

fieldset {
    border: 1px solid black;
    border-radius:8px;
    text-shadow:none;
    box-shadow:rgba(66,66,66,0.5) 0px 15px 10px;
    background: none;
}

.buy {
    background: white url('../images/empty-cart-dark.png')  no-repeat top;
}
ui-button{ }
.invoiceheader {
    color: #00008B;
    font-weight: bold;
    text-align: center;
}
.preformatted {
    white-space: pre-wrap;
    color:#000088;
}

.logo:before{  content  : url(../images/shrek.png)' ';
}
